<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2" >

<listeners>
           <listerer class-name="com.Gojek.extendsReportListener.ExtentReporterNG"/>
</listeners>

  <test name="Test">
    <classes>
      <class name="com.Gojek.AssigmentTest.LoginTest"/>
      <class name="com.Gojek.AssigmentTest.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
